/* Denna fil skall innehålla din CSS kod */
body{
    font-family: 'Architects Daughter';
}

#background{
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

.nav_items{
    padding-left: 10px;
    padding-right: 10px;
}

nav img{
    width: 10vw;
}

#id1{
    grid-area: a1;
}
#id2{
    grid-area: a2;
}
#id3{
    grid-area: a3;
}
#id4{
    grid-area: a4;
}
#container{
    display:grid;
    grid-template-areas: 
    'a1 a2'
    'a3 a4';
}

#container2{
    display:grid;
    grid-template-areas: 
    'r .'
    'p p';
}

#rubrik{
    grid-area: r;
}

#omoss{
    grid-area: p;
}